body {
  margin: 0;
  padding: 0;
  background: #0c0116;
  font-family: sans-serif;
}

.login-box {
  position: relative;
  width: 300px;
  padding: 40px;
  background: #1b1b1b;
  border-radius: 10px;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 0 10px #000;
}

.login-box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(45deg, #ff0000, #00ff00, #0000ff, #ffff00);
  background-size: 400% 400%;
  animation: animateBorder 10s linear infinite;
  z-index: -1;
  filter: blur(20px);
}

@keyframes animateBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  top: 8px;
  right: 10px;
  cursor: pointer;
  color: white;
}
